.card-container{
    position: relative;
    box-shadow: 0 0 20px 0; 
    border:1px solid whitesmoke;
    background-color: black; 
    margin: 1%;
    height: 200px;
    width: 323.6px;
    align-items: center;
    overflow: hidden;
    transition: transform .2s;
}

.card-container:hover{
    z-index: 100;
    transform: scale(1.1); 
}

.game-card-black-background{
    height: 200%;
    width: 100%;
    z-index: 30;
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: bottom 0.5s;
    -webkit-transition: bottom 0.5s; 
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1))
}

.game-card-black-background:hover{
    bottom: 0;
}

.game-card-title {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    width: 61.8%;
}

.genres-container{
    display: flex;
    width: 61.8%;
    flex-direction: row;
    font-size: small;
    flex-wrap: wrap;

}
.genre {
    padding-top: 3px;
    padding-right: 6px;
}

.game-card-rating {
    margin-left: auto;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
}

.data-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    padding-left: 4%;
    z-index: 40;
}

.game-card-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.game-card-image{
    object-fit: contain;
    max-height: 125%;
    max-width: 125%;
}

